.container {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    align-content: center;
    background-color: #BCBEC0;
}

.talk-container {
    display:flex;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    align-content: center;
    background-color: #BCBEC0;
}

/* 
.container > div {
    border-style: groove 
} */

.item1, .item3 {
    height: 150px;
    /* width:100%; */
    align-content: center;
}

.item2 {
    height: 340px;
    /* width:1400px; */
    /* display: flex; */
    align-content: center;
    text-align: center; 
}

#logo {
    height: 38px;
    padding: 25px 0 0 35px;
}

.item2 > div {
    display: flex;
    margin-left:auto;margin-right:auto;
    width: 85%;
}

.item2 div div:first-child, .item2 div div:last-child {
    width: 40%;
    /* border-style: groove */
}

.item2 div div:nth-child(2) {
    width: 20%;
    /* border-style: groove */
}

#table {
    width: 80%;
    padding: 30px;
    margin-left:auto;margin-right:auto;
    /* border-style: groove */
}

#table > input {
    padding-left: 15px;
    margin: 30px auto 0 auto;
    display: flex;
}

input {
    width: 90%;
    height: 33px;
    border: none;
    border-radius: 6px;
    color:#BCBEC0;
    font-size: 15px;
    outline: none;
}

input:focus {
    border: 1px solid #555;
    background-color: white;
    color: #555;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #BCBEC0 !important;
}

input:-webkit-autofill:focus {
    -webkit-text-fill-color: #555 !important;
}

input::placeholder {
    color: #BCBEC0;
}

button {
    background-color: #66FF99;
    border: none;
    color: white;
    text-align: center;
    border-radius: 6px;
    font-size: 15px;
    width: 76%;
    height: 33px;
    cursor: pointer;
}

button:hover {
    background-color: #00CC99; 
}

h1 {
    font-family: Arial;
    margin-top:150px;
    color: white;
}

#google-icon {
    margin: 145px auto 0 auto;
    height: 38px;
    width: 260px;
    background-color: #FF3300;
    border-radius: 6px;
    border: 1px solid #555;
}

a {
    text-decoration: none;
    color: white;
    font-family: Arial;
}

#google-icon:hover {
    background-color: #CC0000;
}

.item3 > div {
    margin-top: 60px;
    display: flex;
    margin-left:auto;margin-right:auto;
    width: 30%;
    height: 80px;
    text-align: center;
}

.dot {
    border: 3px solid white;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
}

.item3 div > a {
    width: 50%;
    font-family: Arial;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.dot:hover {
    border: 3px solid #D1D3D4;
}

.item3 div > a:hover {
    color: #D1D3D4;
} 

.icon {
    width:24px;
    height:24px;
    margin: 7px 8px;
}

.sign {
    width:18px;
    margin: 12px 0 0 75px;
}

#line {
    height: 38px;
    width:1px;
    background-color: #555;
}

#word {
    margin: 10px 35px;
}

#google-btn {
    display: flex;
}

/* sidebar */
#sidebar {
    height:100%;
    width:175px;
    background-color: white; 
    transition: .5s;
    transform: translateX(-175px);
}

#sidebar.active {
    transition: .5s;
    transform: translateX(0);
}

#search {
    height:55px;
    border-bottom: 2.5px solid #BCBEC0;  
}

#add {
    height: 55px;
}

#me {
    display: flex;
    height: 55px;
    background-color: rgb(0,0,255);  
}

#friends {
    height:70%;
    background-color: white; 
}

#pointer {
    position: absolute;
    bottom: 55%;
    margin-left: 200px
}

#round {
    position: absolute;
    border: 3px solid white;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    cursor: pointer
}

#round:hover {
    animation: dotFlow 1.5s infinite;
}

#words {
    position: absolute;
    margin-top:-3px;
    margin-left:30px;
    white-space: nowrap;
    color: #D1D3D4;
    font-family: sans-serif;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#words.isActive {
    opacity: 100;
    transition: opacity 1s ease-in-out;
}

#capital {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-left: -35px;
    margin-top: 17px
}

#username {
    width:95px;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: 17px;
    margin-left: 20px
}

.status {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background-color: #66FF99;
    margin-top: 23px
}


@keyframes dotFlow {
    0%, 100% {
        transform: scale(.9,.9)
    }
    50% {
        transform: scale(1.2,1.2)
    }
}
