@font-face {
    font-family: 'Avenir Bold';
    src: url('./fonts/AvenirBold.ttf')
}

@font-face {
    font-family: 'Avenir Med';
    src: url('./fonts/AvenirMed.ttf')
}

.container {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    align-content: center;
    background-color: #BCBEC0;
    font-family: 'Avenir Med'
}

#talk-container {
    position: relative;
    font-family: 'Avenir Med'
}

#talk-menu {
    display:flex;
    position: fixed;
    z-index: 1;
    height: 100%; width: 175px;
    top: 0; right: 0; bottom: 0; left: 0;
    align-content: center;
}

.item1, .item3 {
    height: 150px;
    align-content: center;
}

.item2 {
    height: 340px;
    align-content: center;
    text-align: center; 
}

#logo {
    height: 38px;
    padding: 25px 0 0 35px;
}

.item2 > div {
    display: flex;
    margin-left:auto;margin-right:auto;
    width: 85%;
}

.item2 div div:first-child, .item2 div div:last-child {
    width: 40%;
}

.item2 div div:nth-child(2) {
    width: 20%;
}

#table {
    width: 80%;
    padding: 30px;
    margin-left:auto;margin-right:auto;
}

#table > input {
    padding-left: 15px;
    margin: 30px auto 0 auto;
    display: flex;
}

input {
    width: 90%;
    height: 33px;
    border: none;
    border-radius: 6px;
    color:#BCBEC0;
    font-size: 15px;
    outline: none;
}

input:focus {
    border: 1px solid #555;
    background-color: white;
    color: #555;
}

input:-webkit-autofill {
    box-shadow: 0 0 0 30px white inset;
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #BCBEC0 !important;
}

input:-webkit-autofill:focus {
    -webkit-text-fill-color: #555 !important;
}

input::placeholder {
    color: #BCBEC0;
}

button {
    background-color: #66FF99;
    border: none;
    color: white;
    text-align: center;
    border-radius: 6px;
    font-size: 15px;
    width: 76%;
    height: 33px;
    cursor: pointer;
}

button:focus, button:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button:hover {
    background-color: #00CC99; 
}

h1 {
    /* font-family: Arial; */
    margin-top:150px;
    color: white;
}

#google-icon {
    margin: 145px auto 0 auto;
    height: 38px;
    width: 260px;
    background-color: #FF3300;
    border-radius: 6px;
    border: 1px solid #555;
}

a {
    text-decoration: none;
    color: white;
    /* font-family: Arial; */
}

#google-icon:hover {
    background-color: #CC0000;
}

.item3 > div {
    margin-top: 60px;
    display: flex;
    margin-left:auto;margin-right:auto;
    width: 30%;
    height: 80px;
    text-align: center;
}

.dot {
    border: 3px solid white;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
}

.item3 div > a {
    width: 50%;
    /* font-family: Arial; */
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.dot:hover {
    border: 3px solid #D1D3D4;
}

.item3 div > a:hover {
    color: #D1D3D4;
} 

.icon {
    width:24px;
    height:24px;
    margin: 7px 8px;
}

.sign {
    width:18px;
    margin: 8% 0 0 45%
}

#line {
    height: 38px;
    width:1px;
    background-color: #555;
}

#word {
    margin: 3% 3% 3% 13%;
}

#google-btn {
    display: flex;
}

/* sidebar */
#sidebar {
    height:100%;
    width:175px;
    background-color: white; 
    transition: .5s;
    transform: translateX(-175px);
}

#sidebar.active {
    transition: .5s;
    transform: translateX(0);
}

#search {
    height:55px;
    border-bottom: 2px solid #BCBEC0;
    cursor: pointer  
}

#search:hover img {
    opacity: 0.5
}

#add {
    height: 55px;
    cursor: pointer
}

#add:hover img {
    opacity: 0.5
}

#me {
    display: flex;
    height: 55px;
    background-color: rgb(0,0,255); 
    cursor: pointer 
}

#me:hover {
    background-color: rgb(0,102,255)
}

#contactList {
    overflow: auto;
    height:100%;
    /* background-color: red;  */
}

#contactList::-webkit-scrollbar {
    display: none
}

#contactList > div:nth-child(1) {
    margin-top: 18%
}

#contactList > div:last-child {
    margin-bottom: 110%
}

.individualContactInfo {
    float: right;
    display: flex;
    height: 100px;
}

.individualContact {
    position: relative;
    height: 100px; width: 175px;
    text-align: center;
    /* border-style: groove */
}

.chatSign {
    color: white;
    text-align: center;
    align-content: center;
    background-color: #66FF99;
    height: 100px; width: 90px;
    cursor: pointer
}

.chatSign > span:first-child {
    margin-top: 20px
}

.chatSign > span {
    float: left; clear: left;
    width: 90px; height: 22px
}

.delete {
    position: absolute;
    z-index: 1;
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100px;
    background-color: #E6E7E8;
}

.confirmText {
    position: relative;
    top: 10px;
    color: #BCBEC0;
    font-size: 18px
}

.confirmButton {
    position: relative;
    display: flex;
    top: 12px;
    height: 30px;
}

.confirmRemove {
    cursor: pointer;
    background: url('./img/yes.png') no-repeat;
    background-position: 4px;
    background-size: 28px;
    width: 35px;
    margin-left: 10px
}

.undoRemove {
    cursor: pointer;
    background: url('./img/no.png') no-repeat;
    background-position: 4px;
    background-size: 28px;
    width: 35px;
    margin-left: 45px
}

.undoRemove:hover {
    background: url('./img/no1.png') no-repeat;
    background-position: 4px;
    background-size: 28px;
}

.confirmRemove:hover {
    background: url('./img/yes1.png') no-repeat;
    background-position: 4px;
    background-size: 28px;
}

.close {
    position: relative;
    float: left; clear: left;
    top: 4%;
    left: 88%;
    width: 16px;
    height: 16px;
    opacity: 0.4;
    cursor: pointer
  }
  .close:hover {
    opacity: 0.8;
  }
  .close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 12px;
    width: 2px;
    background-color:#BCBEC0;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }

.individualProfile {
    position: relative;
    float: left; clear: left;
    left: 37.5%;
    border-radius: 50%;
    height:44px; width:44px; 
    align-content: center  
}

.individualCapital {
    position: relative;
    color: white;
    font-family: 'Avenir Bold';
    font-size: 22px;
    text-align: center;
    width: 100%; top: 17%
}

.individualStatus {
    position: relative;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    border: 3px solid white;
    float: left; clear: left;
    top: -12%; left: 54%
}

.individualName {
    position: relative;
    text-align: center;
    width: 100%; top: -7%;
    float: left; clear: left;
    color: #BCBEC0;
    font-size: 15px;
}

#pointer {
    position: absolute;
    z-index:10;

    bottom: 50%;
    height: 50px;
    width: 50px;
    margin-left: 190px;
    transition: .5s;
    transform: translateX(-175px);
    cursor: pointer
}

#pointer.active {
    transition: .5s;
    transform: translateX(0);
}

#pointer:hover #round {
    animation: dotFlow 1.5s infinite;
}

#round {
    border: 3px solid white;
    height: 6px;
    width: 6px;
    margin-top: 40%;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 0 0 28px 8px rgba(0,0,0,0.1)
}

#words {
    position: absolute;
    text-align: center;
    width: 180px; height: 24px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0);
    margin-top: -16px;
    margin-left: 55px;
    white-space: nowrap;
    color: #D1D3D4;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#words.isActive {
    background-color: rgba(0,0,0,0.1);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#loggedUserTab {
    display: flex;
    height: 55px; width: 160px
}

#profile {
    margin: 10px 4px 10px 8px;
    border-radius: 50%;
    border: 1px solid rgb(0,0,255);
    text-align: center;
    height:33px; width:33px;
}

#capital {
    position: relative;
    font-family: 'Avenir Bold';
    color: white;
    font-size: 20px;
    top: 4px
}

#username {
    width:61%; height: 25px;
    color: white;
    text-align: center;
    font-size: 17px;
    margin-top: 17px
}

.status {
    position: absolute;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-top: 23px;
    margin-left: 88%;
}

.status:hover{
    opacity: 0.5
}

.status2 {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-top: 2px;
}

#triangle {
    margin: 13.5px -10px 0 0;
    transform: rotate(152deg);    
    border-left: 8px solid transparent;
    border-right: 10px solid transparent;  
    border-bottom: 15px solid white;
}

#statusBar {
    display: flex;
    position: absolute;
    width:235px; height: 38px;
    margin-top: 123px;
    margin-left: 200px;
}

#bar {
    display:flex;
    background-color: white;
    border-radius: 8px;
    color: #BCBEC0;
    width:230px;height:38px
}

#bar > span p {
    margin-top: -2px;
    margin-left: 6px
}

.choiceOfStatus {
    display: flex;
    margin: 11px 4px 0 8px;
    cursor: pointer
}

#bar > span:hover .status2, #bar > span:hover p {
    opacity: 0.5
}

#camera {
    width: 100%; 
    height: 100%; 
    z-index: -1;
    position: fixed;
    background-color: #BCBEC0;
    top: 0; right: 0; bottom: 0; left: 0;
    filter: blur(0);
    transition: filter 0.4s linear;
}

#camera.active {
    filter: blur(30px);
    transition: filter 0.4s linear;
}

#localVideo {
    position: absolute;
    z-index: -2;
    min-width:100%; min-height:100%; 
    width:auto; height:auto;
}

#searchBar, #addBar{
    position: absolute;
    width: 420px;
    margin: 220px 36%;
}

#searchBar input {
    padding-left: 40px;
    width: 420px;
    background: white url(./img/mag.png) left no-repeat;
    background-size: 20px;
    background-position: 8px
}

#addForm input {
    padding-left: 46px
}

#newContact {
    display: flex;
    border-radius: 6px;
    margin-top: 35px;
    width: 460px; height: 60px;
    background-color:white;
    font-size: 15px;
    color: #BCBEC0
}

#newContact p {
    margin: auto auto
}

#newContact > span:first-child {
    width: 35px; height: 35px;
    margin: 3% 0 0 14px;
    border-radius: 50%;
    text-align: center
}

#newCap {
    position: relative;
    font-family: 'Avenir Bold';
    font-size: 20px; color: white;
    top: 15%
}

#newContact > span:nth-child(2) {
    margin: 5% 0 0 11px;
    width: 90px; height: 40%
}

#newContact > span:nth-child(3) {
    margin-top: 5%; margin-left: 8px;
    width: 255px; height: 40%
}

#newContact > span:nth-child(4) {
    margin-top: 3%; margin-left: 8px;
    width: 35px; height: 60%;
    cursor: pointer
}

#newContact > span:nth-child(4):hover {
    opacity: 0.5
}

#newContact > span:nth-child(4) > img {
    margin-left: 18%; margin-top: 8%
}

#addForm {
    display: flex;
    width: 460px
}

#addForm span {
    position: absolute;
    margin: 7px
}

#addForm button {
    margin-left: 10px;
    width: 70px; height: 35px
}

#controlButtons {
    display: flex;
    position: absolute;
    align-content: center;
    bottom: 12%;
    margin-left: 26%; margin-right: 30%;
    height: 50px; width: 600px;
}

#controlButtons > span {
    width: 70px; height: 70px;
    text-align: center;
    border-radius: 50%;
    margin: 0 65px; 
    cursor: pointer;
}

#controlButtons > span:hover {
    background-color: rgba(0,0,0,0.1);
}

#controlButtons > span > img {
    position: relative;
    margin-top: 14%;
    width: 50px;
    opacity: 0.5;
}

#controlButtons > span:hover > img {
    opacity: 1;
}

#controlButtons > span:hover::after {
    position: relative;
    content: attr(value);
    color: white; font-family: 'Avenir Bold';
    font-size: 17px; top: 10px;
}

#controlButtons > span:nth-child(2):hover::after {
    margin-left: -10px
}

#screenshot {
    position: absolute;
    display: flex;
    z-index:0;
    bottom:4%; left:4%;
}

#screenshot img {
    height:180px;
    border-radius: 6px;
}

#active {				
    position: fixed;		
    z-index: 0;	
    height: 100%; width: 100%;		
    top: 0; right: 0; bottom: 0; left: 0;		
    background-color: rgba(0,0,0,0.5)
}

#remote {
    background: #D1D3D4;
    border-radius: 6px;
    width: 320px;
    height: 230px;
    margin: 30px;
    float: right;
  }

#remoteVideo {
    border-radius: 6px;
    width: 320px;
    height: 230px;
    /* min-width:100%; min-height:100%;  */
    width:auto; height:auto;
    /* background-color: red; */
}

  .react-draggable, .cursor {
    cursor: move;
  }

  #contactToChat {
    position: absolute;
    padding: 10px;
    display: flex;
    width: 300px; height: 40px;
    font-size: 15px;
    color: white
  }

  #contactToChat > span:first-child {
    width: 35px; height: 35px;
    margin: 1% 0 0 4px;
    border-radius: 50%;
    text-align: center
  }

  #contactToChat > span:nth-child(2) {
    margin: 4% 0 0 11px;
    width: 90px; height: 40%
  }

  #loadingDots {
      margin: 55px auto 0 auto;
      width:85px; height: 30px;
      display: flex;
      align-content: center; 
      /* background-color:#66FF99; */
  }

  #loadingDots > span {
    display: inline-block;
    font-size: 0;
    margin: 8px;
    height: 12px; width: 12px;
    border-radius: 50%;
    background-color: white;
    animation: loading-dots 0.6s alternate infinite;
  }
  
  #loadingDots > span:nth-child(2) {
    animation-delay: 0.2s;
  }

  #loadingDots > span:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  #loggedInfo {
      width: 520px; height: 280px;
      align-content: center;
      margin: 180px 36%;
      color: white; font-size: 16px;
      /* background-color: #00CC99 */
  }

  #loggedDetail {
      display: flex;
      width: 100%; height: 75%;
      /* background-color: #555; */
  }

  #profileDetail {
      position: relative;
      width: 100px; height: 100px;
      text-align: center;
      margin: 0 5%; top: 26%;
      border-radius: 50%;
  }

  #profileDetail span {
      position: relative;
      font-family: 'Avenir Bold';
      top: 5%; font-size: 70px
  }

  #infoDetail {
      width: 350px; height: 80px;
      margin-top: 14%
  }

  #infoDetail > span {
      margin: 2% 5%;
      float: left; clear: left;
  }

  #infoDetail > span:nth-child(1)::after {
    content: attr(value);
    white-space: nowrap;
    margin-left: 46%;
  } 

  #infoDetail > span:nth-child(2)::after {
    content: attr(value);
    white-space: nowrap;
    margin-left: 22%;
  } 

  #signoutButton {
      width: 130px; height: 45px;
      border-radius: 30px;
      margin: 0 40% 0 32%;
      text-align: center;
      background-color: red
  }

  #signoutButton:hover {
      background-color: #BE1E2D;
  }

@keyframes loading-dots {
    0% {
      -webkit-transform: scale(0,0)
    }
    100% {
      -webkit-transform: scale(1,1)
    }
  }

@keyframes dotFlow {
    0%, 100% {
        transform: scale(1,1)
    }
    50% {
        transform: scale(1.3,1.3)
    }
}